@media screen and (max-width: 768px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
		margin-top: -17px;
		color: #fff;
	}
	header nav {
		width: 100%;
		display: contents;
 	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: 0;
		right: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
/*------------------HEADER-------------------*/
 
	header .all-header {
		width: 100%;
	 	display: grid; 
		background-color: #000;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto auto;
		}
	.all-header .graficlogo {
		width: 90%;
		padding: 15px;
		box-sizing: border-box;
		grid-area: 1/1/2/2; 
	}
	.graficlogo img {
		width: 100%;
	}
	.all-header .slogan {
		width: 100%;
		box-sizing: border-box;
		grid-area: 1/2/2/3;
	    margin: 0 auto;
	    padding: 13px 12px;
	    font-size: 12px;
    
	}
	.all-header nav {
	 	width: 100%;
	 	display: flex;
	 	grid-area: 2/1/3/3;
	}
	.all-header .topnav {
		font-size: 14px;
		margin-bottom: 23px;
	}
	 
	/*-------------------MAIN----------------*/

	.advantages .advantages_item {
		width: 45%;
	}
	.container form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
 	}
	.gallery .photo-itm {
		 width: 47%;
	margin-left: 10px;	
	}
	#basketball {
		margin-top: 10px;
	}
	.blog-container {
		width: 38em;
	}
	/*--------------------FOOTER------------------*/
	footer nav {
		width: 100%;
	}
	footer #footer-logo-social {
	    grid-template-columns: 0.6fr 1.3fr 0.1fr;
	    grid-gap: 4px;
	}
}

@media screen and (max-width: 590px) {
	.blog-container {
		width: 30em;
	}
}
@media screen and (max-width: 420px) {
	.advantages {
		flex-direction: column;
	}
	.advantages .advantages_item {
		width: 100%;
	}
	.container form {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
 	}
 	.gallery .photo-itm {
	width: 100%;
	margin: 2px;
	}
	/* По WDB:
	.project .gallery .photo-itm {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 2px;
	}*/
	.blog-container {
		width: 22em;
	}
}
 









